@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0px;
  padding: 0px;

  font-family: "Poppins", sans-serif;
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.7s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.puff-in-center {
  -webkit-animation: puff-in-center 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.fade-in {
  -webkit-animation: fade-in 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tilt-in-top-1 {
  -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #eaebed 0%, white 100%);
  background-blend-mode: screen;
  background-blend-mode: multiply, multiply;
  z-index: -1;
}

.navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  line-height: 70px;
  width: 100%;
  z-index: 10;
  background-image: linear-gradient(135deg, #ffffff 0%, #f5f7fa 100%);
}

.nav-icon {
  padding-left: 100px;
  padding-top: 9px;
}

.nav-ul {
  display: flex;

  width: 400px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navigator .nav-ul .ul-li {
  margin-right: 10px;
  width: 300px;

  text-align: center;
  line-height: 70x;
}

.navigator .nav-ul .ul-li:hover {
  -webkit-animation: shadow-drop-2-lr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: shadow-drop-2-lr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navigator .nav-title #words {
  font-size: 27px;
}

.main {
  height: 100vh;
  background: url(/image/index-img/main.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  filter: brightness(80%);
}

.slogan-1 {
  z-index: 2;

  height: 100px;
  color: black;
  text-align: center;
  font-family: "阿里妈妈数黑体 Bold";
  font-size: 100px;
  font-style: italic;
  padding-top: 80px;
  padding-left: 50px;
  filter: opacity(70%);
}

.slogan-2 {
  z-index: 2;
  height: 100px;
  color: white;
  text-align: center;
  font-family: "阿里妈妈数黑体 Bold";
  font-size: 75px;
  padding-top: 350px;
  padding-left: 100px;
  font-style: italic;
  white-space: pre;
  filter: opacity(80%);
}
.main-left {
  width: 800px;
}

.board {
  height: 350px;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 125px;
  z-index: 100;
  color: white;
}

.pics {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
}

.btns {
  display: flex;
  line-height: 10px;
}

.btn-left {
  width: 10px;
  height: 10px;
  font-weight: 100px;
  font-size: 25px;
  cursor: pointer;
}

.btn-right {
  width: 10px;
  height: 10px;
  font-weight: 100px;
  font-size: 25px;
  cursor: pointer;
  margin-left: 470px;
}

.bottomBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 207.1vh;
  height: 500px;
  background-color: #ffffff;
  padding: 20px;
  font-size: 13px;
}

/*----------------------------


  border: 3px solid red;


以下全是外部引入
*/
/* ----------------------------------------------
 * Generated by Animista on 2022-9-23 13:12:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-drop-2-lr
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-lr {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35),
      12px 0 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35),
      12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-lr {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35),
      12px 0 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35),
      12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-23 20:23:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-24 15:2:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-24 15:3:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-24 17:10:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-top-1
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-24 17:12:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-24 17:14:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
